*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(75, 38, 20);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    width: 80px;
    height: 80px;
    padding-left: 40px;
}
.anchor-tag{
    margin-top: 20px;
    padding-right: 60px;
}
.anchor-tag a{
    color: rgb(75, 38, 20);
    background-color: #ffffff6b;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
}

/* home  */
.home{
    display: flex;
    justify-content: space-between;
}
.home-heading{
    padding: 40px 70px;
    font-size: large;
}
.home-heading h1{
    font-size: 45px;
}
h1 em{
    font-size: 60px;
    font-style: normal;
}
.home-heading p{
    padding: 5px 0;
}
.home-heading button{
    color: rgb(75, 38, 20);
    border: 1px solid rgb(75,38,20);
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 5px;
}
.offer{
    margin-top: -20px;
    margin-left: -100px;
}
.offer img{
    width: 400px;

}

.home img{
    width: 400px;
    margin-top: 20px;
}
.home-img{
    position: relative;
    animation: move 2s both;
}
@keyframes moves{
    from {right: 0px;}
    to{right: 100px;}
}

/* for small screen devices  */
@media(max-width : 1000px){
    #logo img{
        width: 70px;
        height: 70px;
        padding-left: 30px;
    }
    .anchor-tag{
        padding-right: 50px;
    }
    .anchor-tag a{
        padding: 10px 10px;
    }

    /* home  */
    .home-heading{
        padding: 150px 50px;
    }
    .home-heading h1{
        font-size: 35px;
    }
    h1 em{
        font-size: 50px;
    }
    .home-heading button{
        padding: 8px;
        margin-top: 8px;
    }
    .offer{
        margin-top: -70px;
        margin-left: -70px;
    }
    .offer img{
        width: 300px;
    }
    .home-img img{
        width: 300px;
    }
    @keyframes moves{
        from{right: 0px;}
        to{right: 50px;}
    }
}

@media(max-width:780px){
    #logo img{
        width: 60px;
        height: 60px;
    }
    .anchor-tag a{
        font-size: 2.7vh;
        padding: 5px;
    }

    /* home  */
    .home-heading{
        padding: 80px 20px;

    }
    .home-heading h1{
        font-size: 25px;
    }
    .home-heading img{
        width: 15px;
        padding: 5px;
    }
    .home-heading p{
        font-size: small;
    }
    .home-heading button{
        padding:  5px;
    }
    .offer{
        margin-top: -30px;
        margin-left: -70px;
    }

    .offer img{
        width: 300px;
    }
    .home-img img{
        width: 300px;
    }
    @keyframes move{
        from{right: 0px;}
        to{right: 5%;}
    }
}

@media(max-width: 420px){
    #logo img{
        height: 50px;
        width: 50px;
        padding-left: 10px;
    }
    .anchor-tag{
        padding-right: 10px;
        margin-top: 5px;
    }
    .anchor-tag a{
        padding-right: 5px 5px;
        font-size: 1vh;
    }

    /* home  */
    /* home  */
    .home-heading{
        padding: 30px 20px;

    }
    .home-heading h1{
        font-size: 3vh;
    }
    h1 em{
        font-size: 4vh;
    }
    .home-heading img{
        width: 10px;
        padding: 2px;
        margin: 8px 0;
        margin-bottom: 0;
    }
    .home-heading p{
        font-size: 1.3vh;
    }
    .home-heading button{
        padding:  2px;
        margin-left: 5px;
        font-size: 1.3vh;
    }
    .offer{
        margin-top: -10px;
        margin-left: -40px;
        
    }

    .offer img{
        width: 140px;
    }
    .home-img img{
        width: 180px;
        position: relative;
        animation: move 2s both;
        margin-right: 10px;
    }
    @keyframes move{
        from{right: 0px;}
        to{right: 5%;}
    }
}